/* Font import (mode icons) */

@font-face {
  font-family: osu-mode;
  src: url(/static/fonts/extra.ttf) format("truetype")
}

/* layout */

:root {
	--background-hue:hsl(var(--main), 10%, 10%);
	--container-bg:hsl(var(--main), 10%, 15%);
	--header-bg:hsl(var(--main), 20%, 15%);
	--header-bg2:hsl(var(--main), 20%, 15%,60%);
	--message-info-bg:hsl(var(--main), 20%, 20%);
	--segment-bg: hsl(var(--main), 10%, 20%);
	--highLight: hsl(var(--main), 100%, 60%);
	--highLight-bg: hsl(var(--main), 50%, 80%);
	--segment-bg2: hsl(var(--main), 15%, 27%);
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  height: -webkit-fill-available;
}

html {
  position: relative;
  min-height: 100%;
  scrollbar-color: hsl(var(--main), 40%, 40%) hsl(var(--main), 40%, 20%);
  scrollbar-width: thin;
}

.footer {
  padding: 20px;
  margin-top: 39px;
}

.main-block {
  width: inherit;
  background: hsl(var(--main), 10%, 15%);
}

/* stuffs */

.flex {
  display: flex;
}

.flex-vcenter {
  align-self: center;
}

.flex-lcenter {
  justify-content: center;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

.p-less {
  padding: 0 !important;
}

.m-less {
  margin: 0 !important;
}

.pm-reset {
  padding: 0 !important;
  margin: 0 !important;
}

.p-pad {
  padding: 1.25rem;
}

.h-max {
  height: 100%;
}

.w-locked {
  width: 1152px;
}

.is-weeb {
  background: hsl(var(--main), 30%, 50%);
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
}

.headericon {
  font-size: 74px;
}

.is-active .navbar-menu {
  display: block;
}

.my-con {
  margin-top: 92px;
}

a.foot-link {
  margin: 8px;
}

.container {
  -webkit-animation: slideup 0.2s ease;
  transition: 0.2s ease;
}

@-webkit-keyframes slideup {
  0% {
    -webkit-transform: translateY(5px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}

.file-cta {
  border-color: transparent;
}

.mode-icon {
  font-family: osu-mode;
  color: #fff !important;
  font-size: 14px;
  width: 19px;
  height: 19px;
  margin-right: 4px;
  font-weight: 400;
  font-style: initial;
}

.mode-osu::before {
  content: "\E800";
  position: relative;
}

.mode-catch::before {
  content: "\E801";
  position: relative;
}

.mode-mania::before {
  content: "\E802";
  position: relative;
}

.mode-taiko::before {
  content: "\E803";
  position: relative;
}

/* layout */

#app {
  width: 96vw;
  transition: 0.2s ease; /* for responsive animation */
}

@media (min-width: 1140px) {
  #app {
      width: 1140px;
  }
}

/* navbar */

.navbar {
  position: fixed !important;
  width: 100%;
  transition: 0.2s ease;
  min-height: 0rem;
}

.navbar-logo {
  font-size: 22px;
  font-weight: 500;
}

.navbar.is-spaced {
  padding: 0rem 2rem;
}

.minimized {
  width: 100%;
  top: 0;
  backdrop-filter: blur(4px);
  background-color: hsla(var(--main), 50%, 50%, 0.7) !important;
}

.minimized.navbar {
  height: 48px;
  padding: 0px 40px;
}

.minimized .navbar-logo {
  font-size: 15px !important;
}

.minimized .navbar-item {
  font-size: 12px;
}

.minimized .navbar-item .button {
  padding-bottom: calc(0.25em - 1px);
  padding-left: 0.8em;
  padding-right: 0.8em;
  padding-top: calc(0.25em - 1px);
  font-size: 12px;
}

.navbar-item {
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.12);
  font-weight: 430;
  position: relative;
  transition: 0.3s ease;
}

.navbar-start:hover .navbar-item {
  opacity: 0.6;
  font-weight: 500;
}

.navbar-item:hover,
.navbar-item.navbar-dropdown:hover .navbar-item {
  opacity: 1 !important;
}

.navbar.is-primary .navbar-end .navbar-link.is-active,
.navbar.is-primary .navbar-end .navbar-link:focus,
.navbar.is-primary .navbar-end .navbar-link:hover,
.navbar.is-primary .navbar-end > a.navbar-item.is-active,
.navbar.is-primary .navbar-end > a.navbar-item:focus,
.navbar.is-primary .navbar-end > a.navbar-item:hover,
.navbar.is-primary .navbar-item.has-dropdown.is-active .navbar-link,
.navbar.is-primary .navbar-item.has-dropdown:focus .navbar-link,
.navbar.is-primary .navbar-item.has-dropdown:hover .navbar-link,
.navbar.is-primary .navbar-start .navbar-link.is-active,
.navbar.is-primary .navbar-start .navbar-link:focus,
.navbar.is-primary .navbar-start .navbar-link:hover,
.navbar.is-primary .navbar-start > a.navbar-item.is-active,
.navbar.is-primary .navbar-start > a.navbar-item:focus,
.navbar.is-primary .navbar-start > a.navbar-item:hover {
  background-color: transparent;
  color: #fff;
}

.navbar.is-primary .navbar-brand > a.navbar-item:hover {
  background-color: transparent;
  color: #fff;
}

.navbar-logo {
  transition: 0.2s ease;
  font-size: 1.2rem;
}

.navbar-logo:hover {
  transform: scale(1.05);
}

.navbar-dropdown .navbar-item {
  padding: 6px !important;
  color: white;
  opacity: 1;
}

.navbar-brand,
.navbar-tabs {
  min-height: 0rem;
}

.navbar-dropdown {
  width: 152px;
}

.input,
.select select,
.textarea {
  background-color: hsl(var(--main), 12%, 18%);
}

.bg-accent {
  background-color: hsl(var(--main), 30%, 50%);
}

.bg-seccond {
  background-color: hsl(var(--main),10%,15%);
}

/* auth notification */

.paper-snackbar {
  transition-property: opacity, bottom, left, right, width, margin,
    border-radius;
  transition-duration: 0.35s;
  transition-timing-function: ease;
  color: white;
  padding: 18px 24px;
  opacity: 1;
  margin-top: 28px;
  border-radius: 10px;
}

.paper-snackbar.is-success {
  background-color: #5ebf40;
}

.paper-snackbar.is-error {
  background-color: #bf4040;
}

/* notification */

.noti-banner {
  display: flex;
  padding: 8px;
  font-size: 12px;
  color: #fff;
  background-color: hsl(var(--main), 25%, 20%);
  z-index: 1;
  flex-direction: column;
  text-align: center;
  position: relative;
  border-radius: 10px;
}

.noti-banner {
  flex-direction: row;
  text-align: center;
  justify-content: center;
}

.noti-column {
  display: flex;
  width: 100%;
}

.noti-col {
  margin: 5px;
}

.noti-banner-text {
  height: 50px;
  line-height: 50px;
  text-align: left;
  margin-left: 10px;
}

.noti-col-icon {
  height: 30px;
  flex: none;
  background-position: 50%;
  background-repeat: no-repeat;
}

@media (min-width: 900px) {
  .noti-col-icon {
    height: auto;
    width: 30px;
  }
}

.noti-banner-alert .noti-col-icon,
.noti-banner-warning .noti-col-icon {
  background-image: url(https://osu.ppy.sh/assets/images/exclamation-icon.0db8a908.svg);
}

.noti-col-label {
  flex: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding-bottom: 13px;
}

@media (min-width: 900px) {
  .noti-col-label {
    padding-right: 18px;
    padding-bottom: 0;
  }
}

.noti-col-label:after {
  position: absolute;
  content: "";
  height: 3px;
  background-color: hsl(var(--main), 50%, 50%);
  border-radius: 10px;
  left: 0;
  bottom: 0;
  right: 0;
}

@media (min-width: 900px) {
  .noti-col-label:after {
    width: 3px;
    height: auto;
    top: 0;
    left: auto;
  }
}

.noti-banner-type {
  font-weight: 700;
  text-transform: capitalize;
}

.noti-banner-text a {
  color: #fc2;
}

.noti-banner-text a:active,
.noti-banner-text a:focus,
.noti-banner-text a:hover {
  color: #fd5;
}

@media (max-width: 900px) {
  .noti-col-icon {
    display: none;
  }
  .noti-col-label {
    padding-bottom: 0;
  }
  .noti-col-label:after {
    height: 0px;
  }
}

.rank-SH,
.rank-XH {
  color: rgb(205, 231, 231);
}

.rank-S,
.rank-X {
  color: #fc2;
}

.rank-A {
  color: rgb(43, 255, 53);
}

.rank-B {
  color: rgb(61, 151, 255);
}

.rank-C {
  color: rgb(255, 86, 218);
}

.rank-D {
  color: rgb(255, 98, 98);
}

.rank-F {
  color: rgb(255, 89, 89);
}

.load {
  opacity: 0.7;
  filter: blur(1px);
}

@media screen and (min-width: 769px) {
  .modal-content {
    margin: 0 auto;
    max-height: calc(100vh);
    overflow: hidden;
    width: 65%;
  }
}

.score-beatmap {
  padding: 20px;
  background-color: hsla(var(--main), 50%, 50%, 0.7) !important;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

@media (min-width: 900px) {
  .score-beatmap {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.score-beatmap-linkplain {
  color: #fff;
  text-decoration: none;
}

.score-beatmap-linkplain:active,
.score-beatmap-linkplain:focus,
.score-beatmap-linkplain:hover {
  color: #fff;
  text-decoration: none;
}

.score-beatmap-title {
  font-size: 24px;
  margin: 0 0 -5px;
}

.score-dial {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
}

.score-dial-layer {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.score-dial-layer--grade {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 125px;
  text-shadow: 0 0 10px hsl(var(--main));
  padding-top: 0.15em;
}

.score-info {
  padding: 10px 0;
  min-height: 185px;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}

@media (min-width: 900px) {
  .score-info {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.score-info:before {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  content: "";
  background-color: hsla(var(--main), 40%, 40%, 0.7) !important;
}

@media (min-width: 900px) {
  .score-info {
    flex-direction: row;
  }
}

.infoitem {
  margin: 10px;
  flex: 1;
  position: relative;
}

@media (min-width: 900px) {
  .infoitem {
    flex: none;
  }
}

.infoitem--dial {
  margin: 0 15px;
}

@media (min-width: 900px) {
  .infoitem-player {
    flex: 1;
  }
}

.score-player-row--player {
  font-size: 12px;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 2px 10px;
  margin: 15px 0;
}

.score-player-score {
  font-size: 60px;
  font-weight: 300;
  margin-bottom: -10px;
}

.score-stats {
  padding: 10px 10px 15px 10px;
  display: flex;
  flex-direction: column;
}

@media (min-width: 900px) {
  .score-stats {
    padding-left: 50px;
    padding-right: 50px;
    flex-direction: row;
    margin: -5px;
  }
}

.score-stats-group {
  margin: 5px;
  display: grid;
  grid-gap: 8px;
  width: 100%;
}

@media (min-width: 900px) {
  .score-stats-group--stats {
    margin-right: auto;
  }
}

.score-stats-group--stats .score-stats-group-row {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  grid-gap: 5px;
}

.score-stats-stat {
  display: flex;
  flex-direction: column;
  text-align: center;
  background: hsl(var(--main), 25%, 20%);
  padding: 10px;
  border-radius: 8px;
}

.score-stats-stat-row {
  padding: 0 15px;
  font-size: 20px;
  line-height: normal;
}

.score-stats-stat-row--label {
  font-size: 12px;
  border-radius: 10000px;
  text-transform: uppercase;
  white-space: nowrap;
}

.modaldata {
  background-color: hsl(var(--main), 27%, 18%);
  border-radius: 15px !important;
}

.is-disabled {
  opacity: 0.7;
  background: hsl(var(--main), 30%, 45%) !important;
  cursor: not-allowed;
  pointer-events: none;
}

.infoitem .button.is-primary {
  font-size: 14px;
  margin-left: 12px;
}

.modal-close {
  position: relative;
}

.modal {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  visibility: hidden;
}

.modal .modal-background {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
}

.modal.is-active {
  visibility: visible;
}

.modal.is-active .modal-background {
  opacity: .65;
}

.modal .modal-content {
  -webkit-transform: scale(0.7);
  -o-transform: scale(0.7);
  transform: scale(0.7);
  opacity: 0;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  overflow-y: hidden;
}

.modal.is-active .modal-content {
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

body::-webkit-scrollbar {
  width: 12px;
  background-color: hsl(var(--main), 10%, 25%);
  border-bottom-right-radius: 8px;
}
body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: hsl(var(--main), 15%, 40%);
}

[v-cloak] {
  display: none;
}

.search-circle {
  width: 30px;
  height: 30px;
  border: 2px solid #ccc;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.5;
  transition: opacity 0.3s ease-in-out;
}

.search-circle.animate {
  opacity: 1;
}

#search.modal-content {
  /*height: calc(90%);*/
  max-height: calc(100vh - 100px);
  height: fit-content;
}
.search-bg {
  opacity:1;
  overflow:hidden;
  position: fixed;
  z-index: 998;
  width: 100%;
  height: 100%;
  top: 0;
  background: #00000099;
  transition:opacity 0.2s ease-in-out;
  left: 0;
}

  .search-fg {
      width: 100%;
      max-height: calc(100vh);
      height: fit-content;
      margin: auto;
      margin-top: 5%;
      margin-bottom: 5%;
      background: hsl(var(--main), 9%, 28%);
      border-radius: 1em;
      padding: 1.5em 3em;
      min-height: 50%;
  }

  @media (max-width: 968px) {
    .search-fg {
      width: 100%;
    }
  }

    .search-divider {
      width: 105%;
      height: 3px;
      background-color: hsl(var(--main), 50%, 70%);
      border-radius: 3px;
      margin-left: -2.5%;
      margin-top: 1em;
      margin-bottom: 1em;
    }

    #sw-search.field {
      transition: width 0.2s ease-in-out;
    }

      .search-input {
        position: relative!important;
      }

        .search-input input {
          width: 100%;
          height: 3em;
          background: hsl(var(--main), 10%, 20%);
          border: 0px solid;
          border-radius: 1em;
          font-size: 20px;
          padding: 1em;
          padding-left: 3em;
          transition: .1s ease-in-out;
        }

        .search-input input:focus {
          outline:none;
          border: 3px solid hsl(var(--main), 50%, 70%);
        }

        .search-input input:focus ~ i {
          color: hsl(var(--main), 50%, 90%);
        }

        .search-input i {
          color: hsl(var(--main), 10%, 50%);;
          position: absolute;
          top: 61%;
          left: 1.5em;
          transition: color .1s ease-in-out;
        }

    .search-container {
      overflow-x:hidden;
      height: fit-content;
      width: calc(100% + 1em);
      overflow-y: auto;
      max-height: 36em;
      min-height: 10em;
      padding-right:1em
    }
    /* width */
    .search-container::-webkit-scrollbar {
      width: 5px;
      margin-right:-20px;
    }
    /* Track */
    .search-container::-webkit-scrollbar-track {
      background: hsl(var(--main), 8%, 20%);;
      border-radius:500rem;
    }
    /* Handle */
    .search-container::-webkit-scrollbar-thumb {
      background: hsl(var(--main), 8%, 15%);
    }
    /* Handle on hover */
    .search-container::-webkit-scrollbar-thumb:hover {
      background: hsl(var(--main), 8%, 18%);
    }

      .search-container h2 {
          width: 100%;
          margin: 0 0 0.3em 0;
          /*border-bottom: 3px solid;*/
      }
      .search-container h2#players {
        color: #9fd1ff;
      }
      .search-container h2#forums {
        color: #ff9ff4;
      }
      .search-container h2#maps {
        color: #9fffa6;
      }

      .results-container {
        overflow-y: auto;
      }

      #players-container.results-container {
        max-height:13em; 
        /*font-size:20px;
        color:#ffffff7a;
        text-align: center;*/
      }
        .player-search-result {
          height: 3em;
          background: hsl(var(--main), 8%, 20%);
          border-radius: .5em;
          display: flex;
          color: white;
          margin: 0.2em 0;
          position: relative;
        }
        .player-search-result:hover {
        background: hsl(var(--main), 8%, 23%);
        color: white;
        }
          .player-search-result .avatar {
              width: 3em;
              margin-right: 0.5em;
          }
            .player-search-result .avatar img{
                height: 100%;
                border-radius: 0.5em;
            }
          .player-search-result .player h3 {
            margin-top: auto;
            margin-bottom: auto;
            width: fit-content
          }
          .player-search-result .player-stats {
            display: flex;
            flex-direction: row;
            justify-content: left;
          }
            .player-search-result .player-stats a {
              width: fit-content;
              margin-left: 10px;
              text-align: left;
            }
            .player-search-result .player-stats a p {
              width: fit-content;
              text-align: left;
              color: darkgrey;
            }
              .player-search-result .player-stats a#score p {
                text-align: center;
              }
              .player-search-result .player-stats a#score a#rscore {
                display: flex;
                flex-direction: column;
                text-align: center;
                align-items: center;
              }
              .player-search-result .player-stats a#score a#tscore {
                display: flex;
                flex-direction: column;
                text-align: center;
                align-items: center;
              }
              .player-search-result .player-stats a#score {
                display: flex;
                text-align: center;
              }
              /* Hide ranks when window width is less than 400px */
              @media (max-width: 400px) {
                .player-search-result .player-stats a#ranks {
                    display: none;
                }
              }
              /* Hide score when window width is less than 800px */
              @media (max-width: 800px) {
                .player-search-result .player-stats a#score {
                    display: none;
                }
              }
              /* Hide performance when window width is less than 600px */
              @media (max-width: 600px) {
                .player-search-result .player-stats a#performance {
                    display: none;
                }
              }
              /* Hide clan info when window width is less than 300px */
              @media (max-width: 300px) {
                .player-search-result .player-clan {
                    display: none;
                }
              }
          .player-search-result .player-clan {
            text-align: right;
            align-self: flex-end;
            position: sticky;
            left: 100%;
          }
      
      #beatmaps-container.results-container {
        max-height:11.1em;
        /*font-size:20px;
        color:#ffffff7a;
        text-align: center;*/
      }

        .bm-search-result {
        	height: 5em;
        	border: 2px solid #48acff;
        	border-radius: 0.5em;
        	display: flex;
        	background: #1c1a23;
        	margin: 0.5em 0;
          position: relative;
        }
          .bm-search-result-container {
            background: hsl(var(--main), 8%, 20%);
            border: 1px;
            border-radius: 0.5em!important;
            overflow: hidden;
            overflow-y: hidden;
            width: 100%;
            display: flex;
          }
          .bm-search-result-container:hover {
            background: hsl(var(--main), 8%, 23%);
            border: 0.5px;
            transition: border 0.3s ease-in-out;
          }
            .bm-search-result-container img {
              width: 75%;
              object-fit: cover;
              border-radius: 0 0.5em 0.5em 0;
              object-position: center;
              transition: object-position 5s ease;
            }
            .bm-search-result-container:hover img {
              animation: pan 5s forwards;
            }
            img#bm-image {
              -webkit-mask-image: linear-gradient(to right, black 50%, transparent 100%);
              mask-image: linear-gradient(to right, black 50%, transparent 100%);
              order: -1;
            }
            @keyframes pan {
              0% {
                background-position: top;
              }
              100% {
                background-position: bottom;
              }
            }
            .bm-search-result-container .tab {
              padding: 0.25em 0.5em!important;
              border-radius: 0.5em !important;
              width: -moz-available;
              text-align: left;
              position: absolute;
              background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5));
              pointer-events: auto;
              bottom: 0px;
              top: 0px;
            }
            .bm-search-result-container .tab h4 {
              margin: 0;
              color: #48acff;
              display:inline-flex
            }
            .bm-search-result-container .tab .buttons {
              float: right;
              margin: auto;
              display: inline-flex;
            }
            .bm-search-result-container .tab .buttons a .download-div {
              background: #3a9c22;
              margin: 1em;
              padding: 0.4em;
              border-radius: 1em;
            }
            .bm-search-result-container .tab .buttons a .download-div i {
              color: white;
              display: contents;
              color: white;
              margin: 0;
            }
            .bm-search-result-container .tab .buttons a .play-div {
              background: #48acff;
              margin: 1em;
              padding: 0.4em;
              border-radius: 1em;
              margin-right: auto;
            }
            .bm-search-result-container .tab .buttons a .play-div i {
              color: white;
              margin: 0;
            }
              .mini-icons {
                margin-left:0px;
                margin-top: 0em;
                display:inline-flex;
              }
              .mini-icons img {
                width: 18px;
                margin-bottom: -4px;
              }
              


[data-title] { /*optional styling*/
  font-size: 30px; /*optional styling*/
  display: inline-block;
  position: relative;
  cursor: help;
  }

  [data-title]:hover::before {
    text-align: center;
  z-index: 1;
  content: attr(data-title);
  position: absolute;
  display: inline-block;
  -webkit-animation: fadeIn ease 1s;
  -moz-animation: fadeIn ease 1s;
  -o-animation: fadeIn ease 1s;
  -ms-animation: fadeIn ease 1s;
    border-radius:10px;
  padding: 3px 6px;
    top:-40px;
    width:100px;
  border-radius: 2px;
  background: rgba(0, 0, 0, 0.93);
  color: #fff;
  font-size: 12px;
  }

  @font-face { 
    font-family: 'Kawata icons'; 
    src: url(/static/fonts/Kawata_icons.ttf); 
  }
  .kawata-icon {
    font-family: 'Kawata icons';
    color: #fff !important;
    background-size: 100%;
    font-size: 22px;
    width: 19px;
    height: 19px;
    border-radius: 25px;
    text-align: center;
    margin-right: 8px;
    transition: 170ms text-shadow;
    font-weight: 400;
    padding-top: 1px;
}



.kawata-icon:before {
     content: "";
     position: relative;
     left: -3px;
     bottom: 7px;
}

.kawata-icon.std-diff:before {
    content: "A";
    position: relative;
    left: -3px;
    bottom: 7px;
}

.kawata-icon.taiko-diff:before{
    content: "B";
    left: -4px;
}

.kawata-icon.ctb-diff:before{
    content: "D";
}

.kawata-icon.mania-diff:before{
    content: "E";
    left: -4.3px;
}
.diff-expert {
    color: #bc6fff;
}

.diff-insane {
    color: rgba(255, 80, 212, 0.86);
}


.diff-hard {
    color: #c57f19;
}

.diff-normal {
    color: #2f8bbd;
}

.diff-easy {
    color: #65d223;
}

.kawata-icon.diff-expert {
    background-color: rgba(147, 49, 167, 0.66);
}

.kawata-icon.diff-insane {
    background-color: rgba(255, 0, 215, 0.66);
}

.kawata-icon.diff-hard {
    background-color: rgba(255, 176, 32, 0.66);
}

.kawata-icon.diff-normal {
    background-color: rgba(0, 149, 255, 0.66);
}

.kawata-icon.diff-easy {
    background-color: rgba(71, 210, 0, 0.8);
}

.beatmap-panel {
  position: absolute;
  display: flex !important;
  width: 290px;
  z-index: 610;
  opacity: 1;
  flex-direction: column;
  justify-content: space-between;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  margin-top: -120px;
  color: white;
  background-color: #222;
  transition: 200ms opacity, 200ms visibility;
    transition-delay: 0s, 0s;
  transition-delay: 250ms;
  line-height: 1.35;
  visibility: visible;
  background-image: url(/static/images/default-bg.png);
  overflow: hidden;
}

.beatmap-panel-background {
  height: 100%;
  width: 100%;
  border-radius: 12px;
  position: absolute !important;
  z-index: -1;
  background-position: center;
  background-size: cover;
}

.beatmap-panel > div {
  position: relative;
}

.beatmap-panel .panel-stats {
  display: flex;
  padding: 12px 18px;
  justify-content: space-between;
}

.beatmap-panel .panel-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-style: normal;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.56);
  font-weight: 600;
}


.main-block .search-bar {}

.search-bar .search-icon {}

.search-bar .clear-icon {}

#userDropdown.navbar-dropdown 
{
  font-size: .875rem;
  padding-bottom: .5rem;
  padding-top: .5rem;
  background-color: hsl(var(--main),45%,45%);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top: 1px solid rgba(0,0,0,.2);
  box-shadow: 0 8px 8px rgba(10,10,10,.1);
  font-size: .875rem;
  left: 0;
  width: fit-content;
  min-width: 100%;
  position: absolute;
  top: 100%;
  z-index: 20;
}
  .user-card-block
  {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    margin: 6px 12px;
    color: #222;
    position: relative;
  }
    a.user-card
    {
      color: hsla(var(--main), 80%, 40%, 0.98);
      text-shadow: 0 2px 2px rgba(0, 0, 0, 0.56);
      padding: 10px 10px 10px 16px;
      border-color: hsl(var(--main) 10% 32%) !important;
      background-color: hsl(var(--main) 40% 40%);
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      background-size: cover;
      background-position: center;
      position: relative;
      min-height: 65px;
      display: flex;
    }
      .user-card-avatar
      {
        height: 52px;
        width: 52px;
        margin-right: 12px;
        border-radius: 12px;
        background-size: cover;
        background-position-x: 50%;
      }
      .user-card-info
      {
        flex: 1;
        min-width: 0;
        padding-right: 16px;
        text-overflow: ellipsis;
        white-space: nowrap;
        -ms-flex-direction: column !important;
        flex-direction: column !important;
        display: -ms-flexbox !important;
        display: flex !important;
        position: relative;
      }
        .user-card-name {
          font-weight: 700;
          margin-bottom: -2px;
          font-size: 18px;
        }
        .user-card-badges {
          display: flex;
          flex-wrap: wrap;
          margin-top: 4px;
        }
          .user-card-badge {
            margin-right: 4px;
            margin-bottom: 4px;
            padding: 2px 6px;
            border-radius: 25%;
            background-color: hsl(var(--main) 10% 32%);
            background-blend-mode: overlay;
            color: hsl(var(--main) 40% 40%);
            font-size: 12px;
            font-weight: 500;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.56);
          }
            #usercardbadge[data-title]
            {
              font-size: 12px !important;
            }
        span.user-card-data_angle
        {
          position: absolute;
          right: 6px;
          color: hsla(var(--main), 20%, 40%, 0.98);
          text-shadow: 0 2px 2px rgba(0, 0, 0, 0.56);
          opacity: 0.7;
          font-size: 20px;
          top: 50%;
        }