{% extends 'admin/base.html' %}
{% block title %} Beatmaps {% endblock %}
{% block panel %} Beatmaps {% endblock %}
{% block header %}
<link rel="stylesheet" href="/static/css/pages/admin/beatmaps.css">
<script src="/static/js/asserts/vue.js"></script>
<script src="/static/js/asserts/vue-axios.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/timeago.js/4.0.2/timeago.min.js"></script>
<script>
    var domain = "{{ domain() }}";
    var reqs = '{{ requests|tojson }}';
</script>
{% endblock%}

{% block content %}

<div class="dashboard" id="beatmaps">
    <div class="container">
        <div class="pagination">
            <a class="{% if not page > 1 %}disabled{% endif %}" href="{{ url_for('admin.beatmaps', page=page-1) }}">Previous</a>
            <span>Page {{ page }}</span>
            <a class="{% if not requests|length == 50 %}disabled{% endif %}" href="{{ url_for('admin.beatmaps', page=page+1) }}">Next</a>
        </div>
        <div class="columns">
            <div class="column"> 
            {% for map in requests %}
                {% if loop.index is odd %}
                <div id="map" class="card" @click="editMap({{ map }})">
                    <div class="card-background" :style="'background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://assets.ppy.sh/beatmaps/' + {{map['map_info']['set_id']}} + '/covers/card@2x.jpg)'"></div>
                    <div class="card-avatar" :style="'background-image: url(https://a.' + domain + '/' + {{map['player_id']}} + ')'"></div>
                    <div class="card-content">
                        <h3>{{ map['map_info']['artist'] }} - {{ map['map_info']['title'] }}</h3>
                        <h4>{{ map['map_info']['creator'] }} | {{ map['map_info']['version'] }}</h4>
                        <p>Requester: {{ map['player']['name'] }}</p>
                        <div class="mini-icons">
                        {% for diff in map['map_diffs'] %}
                        {% if loop.index < 15 %}
                            <div data-title="{{diff['version']}}&#10;{{diff['diff']}}⭐">
                                <img src="/static/images/icons/mode-{{diff['mode']}}.png">
                            </div>
                        {% else %}
                            <div>.</div>
                        {% endif %}
                        {% endfor %}
                        </div>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
            </div>
            <div class="column"> 
            {% for map in requests %}
                {% if loop.index is even %}
                <div id="map" class="card" @click="editMap({{ map }})">
                    <div class="card-background" :style="'background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://assets.ppy.sh/beatmaps/' + {{map['map_info']['set_id']}} + '/covers/card@2x.jpg)'"></div>
                    <div class="card-avatar" data-title="{{map['player']['name']}}" :style="'background-image: url(https://a.' + domain + '/' + {{map['player_id']}} + ')'"></div>
                    <div class="card-content">
                        <h3>{{ map['map_info']['artist'] }} - {{ map['map_info']['title'] }}</h3>
                        <h4>{{ map['map_info']['creator'] }} | {{ map['map_info']['version'] }}</h4>
                        <p>Requester: {{ map['player']['name'] }}</p>
                        <div class="mini-icons">
                        {% for diff in map['map_diffs'] %}
                        {% if loop.index < 15 %}
                            <div data-title="{{diff['version']}}&#10;{{diff['diff']}}⭐">
                                <img src="/static/images/icons/mode-{{diff['mode']}}.png">
                            </div>
                        {% else %}
                            <div>.</div>
                        {% endif %}
                        {% endfor %}
                        </div>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
            </div>
        </div>
    </div>
</div>

<div id="editBeatmapWindow"></div>


<script src="/static/js/pages/admin/beatmaps.js"></script>

{% endblock %}