#user-search.main-block {
    width: inherit;
    background: hsl(var(--main), 10%, 15%);
    display: flex; 
    justify-content: center;
    transition: 0.2s ease;
  }

#user.card {
    margin-bottom: 5px;
    z-index: 1;
    display: flex;
    border-bottom-style: ridge;
    border-bottom-width: 4px;
    border-bottom-color: hsl(var(--main),15%,35%);
    transition: 0.2s ease;

}

.card-background {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    order: 1;
    border-radius: 8px;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    transition: 0.2s ease;
}

.card-avatar {
    z-index: 3;
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    transition: 0.2s ease;

}

.card-content {
    z-index: 3;
    transition: 0.2s ease;
}

#editUser.box {
    background-color: transparent;
    height: 100vh;
    padding: 1%;  
    transition: 0.2s ease;
    display: flex;
    flex-direction: column;
}

#editUser.user-banner {
  /*background-color: hsl(var(--main), 30%, 50%);*/
  position: relative;
  max-height: 37vh;
  height: 380px;
  border-radius: 8px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  /*overflow-y: hidden;*/
  display: flex;
  flex-direction: column;
  margin-top: auto;
  transition: 0.2s ease;
}

  #editUserBanner.user-banner-background {
    max-height: 262px;
    min-height: 90px;
    width: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 262px; /* max-height */
    align-items: flex-end;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    background-color: hsl(var(--main), 30%, 50%);
    position: relative;
    overflow: hidden;
    flex-grow: 1;
    transition: 0.2s ease;
  }

  .user-flex {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: flex-start;
    transition: 0.2s ease;
  }

    .user-avatar-area {
      padding: 0 0 0 45px;
      display: flex;
      position: absolute;
      flex-direction: row;
      align-items: flex-start;
    }
      .user-avatar {
        width: 185px;
        height: 185px;
        margin-top: -5.5rem;
        border-radius: 16px;
        object-fit: cover;
        transition: 0.2s ease;
      }

    .bar-selection {
      width: 100%;
      height: 60px;
      padding: 10px 10px 10px 250px;
      display: flex;
      align-items: center;
      transition: 0.2s ease;
    }
    .mode-selects {
      background: hsl(var(--main), 25%, 22%);
    }
      .select-left {
        display: flex;
        flex-direction: row;
      }
        .simple-banner-switch {
          color: #fff !important;
          text-shadow: -1px 2px 2px rgba(0, 0, 0, 0.33);
          cursor: pointer;
          transition: 0.3s ease;
          font-size: 16px;
          margin: 0 24px 0 0;
          font-weight: 425;
          opacity: 0.7;
        }
        .simple-banner-switch.active {
          font-weight: 500;
          opacity: 1;
          pointer-events: none;
        }
        .simple-banner-switch.disabled {
          opacity: 0.4;
          pointer-events: none;
          text-decoration: none;
        }



    .user-bg {
      min-height: 262px;
      width: 100%;
      background-size: cover;
      background-position: center;
      display: flex;
      align-items: flex-end;
      border-top-right-radius: 20px;
      border-top-left-radius: 20px;
      background: hsl(var(--main), 30%, 50%);
      position: relative;
      overflow: hidden;
      transition: 0.2s ease;
    }

    .user-stats-rank {
      width: 20px;
      transition: 0.2s ease;
    }

    .info-block {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 10px 250px;
      width: 100%;
      transition: 0.2s ease;
    }

    .select-right {
      margin-left: auto;
      display: flex;
      flex-direction: row;
    }

    .user-flag {
      height: 24px;
      margin-right: 6px;
    }

    #userpage.textarea {
      height: fit-content;
      text-wrap: wrap;
    }

#editUser.main-block {
    background-color: hsl(var(--main), 10%, 15%);
    border-radius: 8px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-top: 8px;
    max-height: calc(57vh - 1%);
    height: fit-content;
    padding: 4px;
    width: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: auto;
    transition: 0.2s ease;
}

#editUser.main-block .content {
    background-color: hsl(var(--main), 10%, 25%);
    border-radius: 8px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin: 8px;
    padding: 20px;
    width: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;  
    scrollbar-color: hsl(var(--main), 40%, 40%) hsl(var(--main), 40%, 20%);
    scrollbar-width: thin;
    transition: 0.2s ease;
}

.main-selector {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 100%;
    height: 42px;
    color: #fff;
    font-size: 14px;
    justify-content: center;
    position: relative;
    transition: 0.2s ease;
}

#badges.columns.is-multiline {
    margin-top: 8px;
}

#badge.card {
    margin-bottom: 5px;
    z-index: 1;
    display: flex;
    background-color: hsl(var(--main), 40%, 15%);
    border-radius: 8px;
    border-bottom-style: ridge;
    border-bottom-width: 4px;
    border-bottom-color: hsl(var(--main),15%,35%);
    transition: 0.2s ease;
}

#badge.card.selected {
    border-bottom-color: hsl(var(--main), 50%, 50%);
    box-shadow: 0 0px 20px hsla(var(--main), 50%, 50%, 0.8);
    border-bottom-color: hsl(var(--main), 50%, 50%);
    scale: 1.05;
}

#badge.card-image {
    z-index: 2;
    position: relative;
    width: 100px;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    align-items: center;
    align-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#badge.card-image .badge-icon {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    scale: 3;
}

#badge.card-content {
    z-index: 3;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    pointer-events: all;
}
.card-content .title {
    font-size: 0.85em;
    font-weight: 600;
    margin-bottom: 4px;
    text-shadow: -1px 2px 2px rgba(0, 0, 0, 0.33);
}

.card-content .description {
    font-size: 0.75em;
    font-weight: 400;
    text-shadow: -1px 2px 2px rgba(0, 0, 0, 0.33);
}

.alert {
    --alert-200: green;
    --alert-400: rgb(193, 193, 0);
    --alert-500: red;
    border-radius: 20px;
    margin-top: 8px;
    padding: 4px;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 14px;
    position: relative;
    transition: 0.2s ease;
}
  .alert .alert-content {
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition: 0.2s ease;
  }

#logs.content .title {
  font-size: 1.5em;
  font-weight: 600;
  margin-bottom: 4px;
  text-shadow: -1px 2px 2px rgba(0, 0, 0, 0.33);
}

#logs.content .columns.is-multiline {
  margin-top: 8px;
}

#log.card-content {
  position: relative;
  transition: 0.2s ease;
}

#log.card-content .Sender {
  position: relative;
  display: flex;
}
  #log.card-content .Sender .SenderAvatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow: hidden;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    scale: 3;
    margin-top: 24px;
  }
  #log.card-content .Sender .SenderInfo {
    margin-left: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

#log.card-content .Action {
  position: relative;
}

.control.userspanel .input {
  /*background-color: hsl(var(--main), 10%, 25%);*/
  border-radius: 20px;
  transition: 0.2s ease;
}

.dropdown-item {
  transition: 0.2s ease;
}
.dropdown-item:hover {
  color: hsl(var(--main), 100%, 50%) !important;
  text-shadow: 0 0px 10px hsla(var(--main), 100%, 50%, 0.8);
  transition: 0.2s ease;
}
