.changelog-banner {
    background-color: hsl(var(--main), 30%, 50%);
    height: 194px;
    border-radius: 0;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.changelog-block {
    background-color: hsl(var(--main), 10%, 15%);
    margin-top: 0;
    width: auto;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 8px;
}

.changelog.Fix {
    --change-category: 0;
}
.changelog.Feature {
    --change-category: 190;
}
.changelog.Improvement {
    --change-category: 170;
}

.changelog {
    --change-category: --main;
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 1px 4px;
    border-radius: 12px !important;
    background-color: hsla(var(--change-category), 15%, 25%, 0.7);
    color: hsl(var(--change-category), 15%, 80%);
    border-width: 2px;
    border-style: solid;
    border-color: hsl(var(--change-category), 65%, 35%);
    transition: 0.8s ease;
    display: flex;
    flex-direction: row;
}
    .changelog-title {
        font-size: 1.2em;
        font-weight: 600;
        margin: 0;
        padding: 0;
    }
    .changelog-date {
        font-size: 0.8em;
        font-weight: 400;
        margin: 0;
        padding: 0;
    }
    .changelog-author {
        font-size: 0.8em;
        font-weight: 400;
        height: 66px;
        width: 225px;
        margin: 0;
        padding-right: 8px;
        display: flex;
        margin-top: auto;
        margin-bottom: auto;
    }
    .changelog-author-avatar {
        width: 66px;
        height: 66px;
        border-radius: 8px;
        margin-right: 0.2em;
    }
    .changelog-author-name {
        font-size: 1.2em;
        font-weight: 400;
        margin: 0;
        padding: 0;
    }
    .changelog-content {
        font-size: 0.9em;
        font-weight: 400;
        margin: 0;
        padding: 0;
    }
    .change-block {
        width: 100%;
        margin: 5px 0 5px 0;
        padding: 0;
    }
    .changelog-body {
        width: 90%;
        align-content: center;
        text-align: center;
        margin: 0 auto 0 auto;
    }