/* gulag mascot/avatar */

.gulag-avatar {
  background-image: url("/static/images/pippi.png");
  background-repeat: no-repeat;
  /*     available avatar widths & heights      */
  /* gulag.png:   width: 512px; height: 363px;  */
  /* pippi.png:   width: 372px; height: 432px;  */
  width: 365px;
  height: 579px;
  left: 50px;
  margin: 0;
  padding: 0;
  position: relative;
}

.main-block {
  width: 1024px;
}

.my-con {
  margin: 53px 0 0 0;
  width: 100%;
  max-width: inherit;
}

#title, #mascot {
  animation: appear 0.4s ease;
}

.is-centered {
  text-align: center;
}

@-webkit-keyframes appear {
  0% {
    -webkit-transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}

@media screen and (max-width: 1023px) {
  .gulag-avatar {
    display: none;
  }
  #home-hero .columns.flex-vcenter {
    padding: 0 20px;
  }
  .main-block {
    width: initial;
    height: 285px;
  }
  #mascot {
    display: none !important;
  }
  .my-con {
    margin: 60px 0 0 0;
  }
  #home-hero {
    height: 300px;
  }
}

.home-stats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: fit-content;
  margin: 20px auto 20px auto;
}
  .home-stats .stat {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    background: hsla(var(--main), 40%, 30%, 0.6);
    border-radius: 16px;
    color: white;
    font-size: 1.5em;
    font-weight: 500;
    text-align: center;
    margin: 0 10px 0 10px;
    padding: 4px 5px 4px 5px;
  }
    .home-stats .stat span {
      font-size: 0.25em;
      font-weight: 400;
    }

.splash {
  background: radial-gradient(ellipse at bottom, hsl(var(--main), 50%, 40%) 0%, hsl(var(--main), 40%, 30%) 100%);
}

.scroll-down {
  position: absolute;
  bottom: 10px;
  left: 50%;
  width: fit-content;
  transform: translateX(-50%);
  color: white;
  cursor: pointer;
  font-size: 0.5em;
  align-content: center;
  white-space: nowrap;
}
  .scroll-down > span {
    width: inherit;
    text-align: center;
  }

.footer {
  margin: 0;
}

.ranked-block {
  display: flex;
  flex-direction: column;
  position: relative;
}
  .ranked-block .map {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-color: hsl(var(--main), 40%, 40%);
    background-color: hsl(var(--main), 20%, 20%);
    background-image: linear-gradient(to bottom, hsl(var(--main), 20%, 20%), hsl(var(--main), 20%, 10%));
    margin: 0 0 10px 0;
  }
    .map .map-info {
      position: relative;
      width: 100%;
    }
    .ranked-block .map .map-info .beatmap-info .map-title {
      font-size: 1em;
      font-weight: 500;
    }
    .ranked-block .map .map-info .beatmap-info .map-artist {
      font-size: 0.85em;
      font-weight: 400;
    }
    .ranked-block .map .map-info .map-diffs {
      margin-left: auto;
      margin-right: auto;
      width: fit-content;
      display: flex;
      flex-direction: row;
      height: 24px;
    }
    .map-diffs .diff-info {
      height: 24px;
      width: 24px;
      display: flex;
      flex-direction: row;
    }
    .diff-info[data-title]:hover::before{
      top: 30px;
      z-index: 100;
    }
    .ranked-block .map .mod-info {
      display: flex;
      flex-direction: row;
      flex-shrink: 0;
      justify-content: right;
      position: relative;
      width: fit-content;
      height: 48px;
    }
      .mod-info img {
        width: 48px;
        height: 48px;
      }