

.leaderboard-banner {
  background-color: hsl(var(--main), 30%, 50%);
  height: 194px;
  border-radius: 0;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.leaderboard-column {
  background-color: #eee;
  color: #222;
  height: 38px;
  font-size: 12px;
  background-color: hsl(var(--main), 15%, 25%);
  border-radius: 8px;
  border-bottom: 4px;
  border-style: double;
  border-color: hsl(var(--main), 15%, 35%);
}

.leaderboard-main-bg {
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  padding: 24px 24px;
  overflow: visible;
}

.leaderboard-table {
  width: 100%;
  white-space: nowrap;
  text-align: center;
  border-spacing: 0 3px;
  border-collapse: separate;
  padding-bottom: 24px;
  transition: 0.2s ease;
  position: relative;
  z-index: 1;
  overflow: visible;
  opacity: 0.9;
}

tr td {
  padding: 6px 0;
}

.column-player-rank {
  padding: 0 10px;
  text-align: center;
  background-color: hsl(var(--main), 15%, 27%) !important;
  min-width: 44px;
  font-weight: 600;
  font-size: 13px;
  color: #fff;
  border-radius: 8px;
}

  .column-player-rank.champ {
    font-size: 16px;
    color: #10c7ff !important;
  }

  .column-player-rank.leader {
    font-size: 14px;
    color: #e7c500 !important;
  }
.column-player-name {
  padding: 10px 10px;
  font-weight: 600;
  text-align: left;
  font-size: 13px;
}

.column-player-name a {
  color: #fff !important;
}

td#max-combo {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.t-heading {
  font-weight: 400;
  color: #fff;
  opacity: 0.7;
  padding: 5px 12px;
  text-align: center !important;
  font-size: 12px;
}

.t-heading--main {
  width: 100%;
}

.t-column:first-child {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.t-column:last-child {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

tr.leaderboard-column td {
  font-weight: 600;
  border-bottom: 4px;
  border-bottom-style: double;
  border-bottom-color: hsl(var(--main), 20%, 40%);
  transition: 0.1s background-color;
  color: #fff !important;
  text-align: center;
}

table td,
table th {
  vertical-align: baseline;
}

.leaderboard-column:hover td:not(:first-child) {
  background-color: hsl(var(--main), 20%, 30%);
}

.mode-select {
  cursor: pointer;
  text-align: center;
  padding-bottom: 2px;
  margin-right: 12px;
  color: #fff;
  font-size: 15px;
  margin-left: 12px;
  opacity: 0.7;
  transition: 0.2s ease;
  content: center;
}

.mode-select:hover {
  border-bottom-width: 3px;
  opacity: 1;
  color: #fff;
}

.mode-select.active {
  border-bottom-width: 6px;
  opacity: 1;
  font-weight: 600;
}

.leaderboard-table > tbody {
  transition: 0.2s opacity;
}

@media (max-width: 576px) {
  .mode-icon {
    display: none;
  }
}

.player-flag {
  display: inline-block;
  background-size: 100%;
  margin-right: 4px;
  width: 30px;
  height: 20px;
  margin-bottom: -6px;
  transition: 0.2s filter ease-out, 0.2s box-shadow ease-out;
  border-radius: 2px;
}

.flag-dropdown {
  margin-top: -41px;
  margin-left: -41px;
}
.popover-body, .tooltip-inner, .flag-dropdown {
  font-size: 12px;
}
.flag-dropdown, .noUi-tooltip {
  background-color: hsl(var(--main), 15%, 5%) !important;
  filter: opacity(0.95);
  border-radius: 4px;
  padding: 5px;
  color: white;
  font-size: 13px;
  position: absolute;
  padding-left: 14px;
  padding-right: 14px;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s visibility, 0.3s opacity;
  min-width: 110px;
  max-width: 143px;
  width: max-content;
  text-align: center;
  font-weight: 600;
  font-style: normal;
}
.user-flag:hover>.flag-dropdown, .player-flag:hover>.flag-dropdown {
  visibility: visible;
  opacity: 1;
}
