[data-panel="Docs"] {
    width: 92vw;
    max-height: 95vh;
    transition: 0.2s ease; /* for responsive animation */
    border-radius: 20px;
    overflow: hidden;
    position: absolute;
    top: auto;
    bottom: auto;
    margin-top: auto;
    margin-bottom: auto;
}

@media (min-width: 1000px) {
    [data-panel="Docs"] {
        width: 1000px;
    }
}
    [data-panel="Docs"] .main-block {
        width: inherit;
        background: hsl(var(--main), 10%, 15%);
        position: relative;
    }
        .main-block .selector {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            pointer-events: all;
            height: 27px;
            z-index: 2;
            width: 100%;
        }
            .selector .bottom-tab {
                display: flex;
                padding: 6px;
                background: hsl(var(--main), 10%, 15%);
                height: 36px;
                border-radius: 8px;
                opacity: 0.8;
                font-weight: 600;
                border-bottom: 3px solid;
                transition: 200ms opacity, 200ms border, 200ms filter, 300ms background-color;
                margin: 4px 5px 0px 5px;
                box-shadow: 0 1px 3px rgba(0,0,0,.25) !important;
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
                overflow: hidden;
            }
                .selector .bottom-tab.active {
                    opacity: 0.9;
                    background-color: hsl(var(--main), 10%, 16%);
                    border-bottom: 4px solid;
                }
                .selector .bottom-tab:hover {
                    opacity: 1;
                    background-color: hsl(var(--main), 10%, 16%);
                    border-bottom: 4px solid;
                }
            .selector .left {
                display: flex;
                flex-direction: row;
                pointer-events: all;
            }
            .selector .right {
                margin-left: auto;
                pointer-events: all;
                display: flex;
                flex-direction: row;
            }
        .docs-banner {
            /*background-color: hsl(var(--main), 30%, 50%);*/
            max-height: fit-content;
            min-height: 194px;
            border-top-right-radius: 20px;
            border-top-left-radius: 20px;
            display: flex;
            position: relative;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            pointer-events: auto;
            background-size: 100%;
            transition: max-height 0.4s ease;
            z-index: 0;
        }
            .docs-banner .img {
                max-height: 280px;
                height: 100%; 
                min-height: 194px;
                position: absolute; /* position relative to .doc-banner */
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                border-radius: 0;
                border-top-right-radius: 8px;
                border-top-left-radius: 8px;
                pointer-events: auto;
                background-size: 100%;
                background-position: center;
                transition: max-height 0.4s ease;
                z-index: 0;
            }
            .docs-banner.title {
                font-size: 2.5em;
                font-weight: 500;
                color: white;
                text-align: center;
                pointer-events: auto;
                z-index: 1;
                margin-bottom: 0px !important;
            }
    [data-panel="Docs"] .second-block {
        background: var(--container-bg);
        max-height: 55vh;
        display: flex;
        overflow-y: auto;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        margin-bottom: 10px;
    }
        #panel.content {
            background-color: hsl(var(--main), 18%, 18%);
            padding: 4px;
            padding-top: 12px !important;
            margin: 1%;
            margin-bottom: 2%;
            width: 100%;
            height: 100%;
            overflow: hidden;
            transition: 0.2s ease;
            border-radius: 8px;
            position: relative;
        }
            #panel.content .selector {
                position: absolute;
                top: 10;
                left: 0;
                right: 0;
                display: flex;
                align-items: flex-end;
                justify-content: center;
                pointer-events: all;
                height: 27px;
                z-index: 2;
                width: 100%;
            }
                .selector .top-tab {
                    display: flex;
                    padding: 6px;
                    background: hsl(var(--main), 10%, 15%);
                    height: 36px;
                    border-radius: 8px;
                    opacity: 0.8;
                    font-weight: 600;
                    border-top: 3px solid;
                    transition: 200ms opacity, 200ms border, 200ms filter, 300ms background-color;
                    margin: 4px 5px 0px 5px;
                    box-shadow: 0 1px 3px rgba(0,0,0,.25) !important;
                    border-top-left-radius: 0;
                    border-top-right-radius: 0;
                    overflow: hidden;
                }
                    .selector .top-tab.active {
                        opacity: 0.9;
                        background-color: hsl(var(--main), 10%, 16%);
                        border-top: 4px solid;
                    }
                    .selector .top-tab:hover {
                        opacity: 1;
                        background-color: hsl(var(--main), 10%, 16%);
                        border-top: 4px solid;
                    }
            .content .doc-block {
                padding: 22px;
            }
                .doc-block .doc-notice {
                    background-color: hsl(var(--main), 18%, 30%);
                    border-radius: 8px;
                    padding: 10px;
                    margin: 10px 0px;
                    border: 1px solid hsl(var(--main), 25%, 35%);
                    text-align: center;
                }
                .doc-block .doc-section {
                    background-color: hsl(var(--main), 20%, 20%);
                    border-radius: 8px;
                    padding: 10px;
                    margin: 10px 0px;
                    border: 1px solid hsl(var(--main), 20%, 25%);
                }
                    .doc-section .subsection {
                        background-color: hsl(var(--main), 20%, 22%);
                        border-radius: 8px;
                        padding: 10px;
                        margin: 10px 0px;
                        border: 1px solid hsl(var(--main), 20%, 25%);
                    }
                .doc-content {
                    background-color: hsl(var(--main), 20%, 25%);
                    border-radius: 8px;
                    padding: 10px;
                    margin: 10px 0px;
                    border: 1px solid hsl(var(--main), 20%, 28%);
                }
                    .doc-content .subsection {
                        background-color: hsl(var(--main), 20%, 26%);
                        border-radius: 8px;
                        padding: 10px;
                        margin: 10px 0px;
                        border: 1px solid hsl(var(--main), 20%, 30%);
                    }
                .linked {
                    pointer-events: all;
                }


::selection {
    background: hsla(var(--base-dark), 50%, 65%, 0.5);
}
[data-panel="Beatmap"] {
    width: 96vw;
    max-height: 95vh;
    transition: 0.2s ease; /* for responsive animation */
    border-radius: 20px;
    overflow: hidden;
    position: absolute;
    top: auto;
    bottom: auto;
    margin-top: auto;
    margin-bottom: auto;
}

@media (min-width: 1000px) {
    [data-panel="Beatmap"] {
        width: 1000px;
    }
}
    [data-panel="Beatmap"] .main-block {
        width: inherit;
        background: hsl(var(--main), 10%, 15%);
        position: relative;
    }
        [data-panel="Beatmap"] .banner-text {
            font-size: 2.5em;
            font-weight: 500;
            line-height: 1.0em;
            color: white;
            text-align: center;
            pointer-events: auto;
            z-index: 1;
            margin-bottom: 12px !important;
        }
        [data-panel="Beatmap"] .selector {
            height: fit-content !important;
            overflow-wrap: normal;
            flex-wrap: wrap-reverse;
            margin-top: 8px;
        }
            [data-id="beatmapPanel"].map-diff {
                display: flex;
                padding: 6px;
                background: #222;
                height: 36px;
                border-radius: 8px;
                opacity: 0.8;
                font-weight: 600;
                border-bottom: 3px solid;
                transition: 200ms opacity, 200ms border, 200ms filter, 300ms background-color;
                margin: 4px 5px 0px 5px;
                box-shadow: 0 1px 3px rgba(0,0,0,.25) !important;
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
                overflow: hidden;
            }
                [data-id="beatmapPanel"].map-diff img {
                    width: 24px;
                    height: 24px;
                    margin-right: 8px;
                }
                [data-id="beatmapPanel"].map-diff:hover {
                    opacity: 1;
                    background-color: hsl(var(--main), 10%, 16%);
                    border-bottom: 4px solid;
                }
        #panel.map-stats {
            position: absolute;
            left: 24px;
            bottom: 48px;
            display: flex;
            flex-direction: column;
            pointer-events: auto;
            border-radius: 12px;
            overflow: hidden;
            width: 200px;
        }
            #panel.map-stats .stat-block {
                display: flex;
                flex-direction: column;
                background-color: hsla(var(--main), 25%, 12%, 0.8);
                padding: 8px;
                align-content: center;
                align-items: center;
                margin-top: 2px;
                margin-bottom: 2px;
            }
                #panel.map-stats .stat-block.top {
                    margin-top: 0px !important;
                }
                #panel.map-stats .stat-block.bottom {
                    margin-bottom: 0px !important;
                }
                .stat-block.map-play {
                    justify-content: center;
                }

    #panel.second-block {
        background: var(--container-bg);
        max-height: 55vh;
        display: flex;
        overflow-y: auto;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        margin-bottom: 10px;
        position: relative;
    }
        #panel.second-block .content {
            display: flex;
            flex-direction: column;
            background-color: hsl(var(--main), 18%, 18%);
            padding: 4px;
            margin: 1%;
            margin-bottom: 2%;
            width: 100%;
            height: 100%;
            overflow: hidden;
            transition: 0.2s ease;
            border-bottom-right-radius: 8px;
            border-bottom-left-radius: 8px;
            position: relative;
        }

            [data-panel="Beatmap"] .beatmap-info {
                display: flex;
                flex-direction: row;
                background-color: hsl(var(--main), 25%, 25%);
                padding: 0px 20px;
                margin-top: 10px;
                border-radius: 12px;
                border: 1px solid hsl(var(--main), 25%, 30%);
                margin-bottom: 10px;
                pointer-events: auto;
                position: relative;
                width: 100%;
            }
                [data-panel="Beatmap"] .beatmap-info .info-block {
                    display: flex;
                    flex-direction: column;
                    pointer-events: auto;
                    padding: 10px !important;
                    width: 50%;
                    position: relative;
                }
                    .info-block .buttons {
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        pointer-events: auto;
                        padding: 10px !important;
                        width: 100%;
                        position: relative;
                    }
            .beatmap-lb {
                display: flex;
                flex-direction: column;
                width: 98%;
                align-self: center;
                border-radius: 8px;
            }
                .mode-sort + .table-responsive
                {
                    border-top-left-radius: 8px;
                    border-top-right-radius: 8px;
                }
                .table-responsive
                {
                    display: block;
                    width: 100%;
                    overflow-x: auto;
                    -webkit-overflow-scrolling: touch;
                    -ms-overflow-style: -ms-autohiding-scrollbar;
                }
                    .table-responsive .lb-first-place-header {
                        background-color: hsl(var(--main), 20%, 20%) !important;
                        border-bottom: 2px double hsl(var(--main), 10%, 10%);
                        margin-bottom: 0px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 24px 24px;
                        color: hsl(var(--main), 10%, 60%);
                        transition: 200ms background-color;
                        border-top-left-radius: 20px;
                        border-top-right-radius: 20px;
                    }
                    .lb-first-place-header .user-block {
                        display: flex !important;
                    }
                        .lb-first-place-header .play-rank {
                            display: -ms-flexbox !important;
                            display: flex !important;
                            -ms-flex-align: center !important;
                            align-items: center !important;
                            -ms-flex-pack: center !important;
                            justify-content: center !important;
                            -ms-flex-direction: column !important;
                            flex-direction: column !important;
                        }
                            .play-rank .map-rank
                            {
                                font-size: 24px;
                                font-weight: 600;
                                width: 60px;
                                height: 60px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                padding: 3px 5px;
                                border-radius: 20px;
                            }
                        .lb-first-place-header .user-avatar {
                            width: 72px;
                            height: 72px;
                            background-size: 100%;
                            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.35);
                            border-radius: 8px;
                            margin-right: 10px;
                            margin-left: 14px;
                            background-color: hsl(var(--main), 10%, 30%);
                            transition: 200ms background-color;
                        }
                        .lb-first-place-header .user {
                            line-height: 1.3;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                        }
                            .user .username {
                                font-size: 16px;
                                font-weight: 700;
                                color: hsl(var(--main), 10%, 80%);
                                transition: 100ms color;
                            }
                    .lb-first-place-header .playstats-block {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;
                    }
                        .playstats-block .beatmap-score-top__stats
                        {
                            display: flex;
                            flex-shrink: 1;
                            margin-right: 24px;
                            justify-content: space-around;
                        }
                            .beatmap-score-top__stats .stat-block {
                                margin: 0px 6px;
                                padding: 0px 4px;
                            }
                                .stat-block.stat-bolder
                                {
                                    font-weight: 600;
                                }
                                .stat-block:first-child
                                {
                                    margin-left: 0;
                                    padding-left: 0;
                                }
                                .stat-block:last-child
                                {
                                    margin-right: 0;
                                    padding-right: 0;
                                }
                                .stat-title
                                {
                                    margin-bottom: 4px;
                                    font-weight: 700;
                                    border-bottom: solid 2px #aaa;
                                    font-size: 10px;
                                    color: hsl(var(--main), 10%, 80%);
                                    text-transform: uppercase;
                                }
                .table-responsive#panel.bm-lb-bg {
                    background-color: hsl(var(--main), 10%, 15%);
                    padding-right: 24px;
                    padding-left: 24px;
                    padding-top: 12px;
                    flex-direction: column;
                    border-bottom-left-radius: 8px;
                    border-bottom-right-radius: 8px;
                    padding-bottom: 24px;
                }
                    @media (max-width: 1200px) {
                        #panel.bm-lb-bg .bm-lb-table
                        {
                            width: 897px;
                        }
                    }
                    #panel.bm-lb-bg .bm-lb-table
                    {
                        font-size: 12px;
                        transition: 200ms opacity;
                        display: table;
                        table-layout: fixed;
                        width: 100%;
                        scrollbar-width: thin;
                    }
                        #panel.bm-lb-table .leaderboard-thead
                        {
                            font-size: 10px;
                            font-weight: 700;
                            text-transform: uppercase;
                            padding-bottom: 5px;
                            display: table-header-group;
                        }
                            #panel.leaderboard-table__heading
                            {
                                color: hsl(var(--main), 10%, 70%);
                                font-size: 11px;
                                text-transform: uppercase;
                                padding: 12px 0;
                                display: table-cell;
                                flex-shrink: 0;
                            }
                                #panel.table-header-rank
                                {
                                    text-align: right;
                                    width: 40px;
                                }
                                #panel.table-header-grade
                                {
                                    width: 30px;
                                }
                                #panel.table-header-flag
                                {
                                    padding-top: 1px;
                                    padding-left: 4px !important;
                                    padding-right: 4px !important;
                                    width: 23.3667px;
                                }
                                #panel.table-header-player
                                {
                                    width: 185px;
                                }
                                #panel.table-header-pp
                                {
                                    width: 50px;
                                }
                                #panel.table-header-score
                                {
                                    width: 120px;
                                    text-align: center;
                                }
                                #panel.table-header-acc
                                {
                                    width: 100px;
                                }
                                #panel.table-header-combo
                                {
                                    width: 100px;
                                }
                                #panel.table-header-hitstat
                                {
                                    width: 40px;
                                }
                                #panel.table-header-miss
                                {
                                    width: 65px;
                                }
                                #panel.table-header-mods
                                {
                                    width: 95px;
                                }
                                #panel.table-header-date
                                {
                                    width: 160px;
                                }
                                #panel.table-header-report
                                {
                                    width: 40px;
                                }
                        tr#panel
                        {
                            display: table-row;
                        }
                        tr#panel.leaderboard-row {
                            transition: 200ms background-color;
                            height: 1.8em;
                            color: hsl(var(--main), 10%, 55%);
                            border-bottom: 2px solid hsl(var(--main), 20%, 15%);
                            display: table-row;
                        }
                            tr#panel.leaderboard-row td#panel
                            {
                                padding: 4px 0px;
                                padding-left: 0px;
                                display: table-cell;
                            }
                            #panel.leaderboard-row.row1p {
                                background-color: hsl(var(--main), 10%, 22%);
                                color: #fff;
                                width: 100%;
                            }
                            #panel.leaderboard-row.row2p {
                                background-color: hsl(var(--main), 10%, 30%);
                                color: white;
                                width: 100%;
                            }
                            * {
                                box-sizing: border-box;
                            }
                                #panel.leaderboard-table__column
                                {
                                    text-align: left;
                                    width: 40px;
                                }
                                .leaderboard-table__column:first-child
                                {
                                    border-top-left-radius: 4px;
                                    border-bottom-left-radius: 4px;
                                    padding-left: 2px;
                                    text-align: center;
                                }
                                    #panel.leaderboard-column__rank
                                    {
                                        font-weight: 700;
                                        text-align: right;
                                        width: 40px !important;
                                    }
                                    #panel.leaderboard-column__grade
                                    {
                                        text-align: center;
                                        font-weight: 700;
                                        width: 30px !important;
                                    }
                                    td#panel.leaderboard-column__flag
                                    {
                                        padding-top: 1px;
                                        padding-left: 4px !important;
                                        padding-right: 4px !important;
                                        width: 23.3667px;
                                        background-size: contain;
                                    }
                                    #panel.leaderboard-column__player
                                    {
                                        width: 185px !important;
                                    }
                                    #panel.leaderboard-column__pp
                                    {
                                        font-weight: 600;
                                        width: 50px !important;
                                    }
                                    #panel.leaderboard-column__score
                                    {
                                        font-weight: 700;
                                        width: 120px !important;
                                        text-align: center;
                                    }
                                    #panel.leaderboard-column__acc
                                    {
                                        width: 100px !important;
                                    }
                                    #panel.leaderboard-column__combo
                                    {
                                        width: 100px !important;
                                    }
                                    #panel.leaderboard-column__hitstat
                                    {
                                        width: 40px !important;
                                    }
                                    #panel.leaderboard-column__miss
                                    {
                                        width: 65px !important;
                                    }
                                    #panel.leaderboard-column__miss.zero
                                    {
                                        opacity: 0.6 !important;
                                    }
                                    #panel.leaderboard-column__mods
                                    {
                                        width: 95px !important;
                                    }
                                    #panel.leaderboard-column__date
                                    {
                                        width: 160px !important;
                                    }