# c[e4]?.ppy.sh is used for bancho
# osu.ppy.sh is used for /web, /api, etc.
# a.ppy.sh is used for osu! avatars

upstream bancho {
	server ${GULAG_ADDRESS}:${GULAG_PORT}; # set bancho upstream
}

server {
	listen 80;

	server_name  ${DOMAIN} web.${DOMAIN}; # Website!

	access_log /srv/root/.data/logs/nginx/access/web.${DOMAIN}.log;
	error_log /srv/root/.data/logs/nginx/error/web.${DOMAIN}.log;
	

	# /web, /api, /users, /ss, /d, /p, /beatmaps, /beatmapsets, /community, /difficulty-rating
	location ~^\/(?:web|api|users|ss|p|beatmaps|beatmapsets|community|difficulty-rating)(?:\/.*|$) {
		proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
		proxy_set_header X-Real-IP $remote_addr;
		proxy_set_header Host $http_host;
		proxy_redirect off;
		client_max_body_size 128M;
		proxy_pass http://bancho;
	}

	location /d/ { # /d/ is used for osu!direct
		return 301 https://osu.${DOMAIN}$request_uri;
	}

	# root web.${DOMAIN} - minus the subdirectories above ^^^ always goes to gulag
	location / {
		proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
		proxy_set_header X-Real-IP $remote_addr;
		proxy_set_header Host $http_host;
		add_header Access-Control-Allow-Origin *; 
		proxy_redirect off;
		client_max_body_size 128M; # set max web upload
		proxy_pass http://127.0.0.1:${APP_PORT}; # pass to kawaweb
	}
}
