{% extends 'base.html' %}
{% block title %} Home {% endblock %}

{% block header %}
<script src="/static/js/asserts/vue.js"></script>
<script src="/static/js/asserts/vue-axios.js"></script>
<link rel="stylesheet" href="/static/css/pages/home.css">
<link rel="stylesheet" href="/static/css/pages/changelog.css">

{% endblock %}

{% block content %}

<div class="hero splash p-less is-fullheight-with-navbar" id="home-hero">
<div id="stars"></div>
<div id="stars1"></div>
<div id="stars2"></div>
<div id="stars3"></div>
  <div class="container flex">
    <div class="columns flex-vcenter">
      <div class="column flex-vcenter flex-lcenter is-size-2-desktop is-size-1-fullhd" id="title">
        <h1 class="title is-spaced is-size-2-desktop is-size-1-fullhd is-centered">{{ appName() }}</h1>
        <div class="home-stats">
          <div class="stat">
            <span>
              <a class='circle green'>●</a> 
              <% online_users %> Online
            </span>
          </div>
          <div class="stat">
            <span>
              <i class="fas fa-user-friends"></i> 
              {{ dash_data['count']|default('?') }} Users
            </span>
          </div>
        </div>
        <h2 class="subtitle is-centered">
          Kawata is an osu! private server that allows modified clients
          and features to be used according to our rules of course. We allow 
          features such as DT Remover, Aim Assist, HD Remover, etc.
        </h2>
        <h2 class="subtitle is-centered" id="timesincestuffbroke">
      
        </h2>

        <script>
          var timestamp = {{ unix_timestamp }};
          var interval = setInterval(function() {
              var now = new Date();
              var diff = Math.floor((now.getTime() / 1000) - timestamp);
              var hours = Math.floor(diff / 3600);
              var minutes = Math.floor((diff % 3600) / 60);
              var seconds = diff % 60;
              document.getElementById('timesincestuffbroke').textContent = "It's been " + hours + " hours, " + minutes + " minutes, and " + seconds + " seconds since something last broke.";
          }, 1000);
          </script>
        {% if not session.authenticated %}
        <div class="buttons is-centered">
          <a class="button is-primary" href="/register">
            <strong>Sign up</strong>
          </a>
          <a class="button is-light" href="/login">
            Log in
          </a>
        </div>
        {% endif %}
        <div class="scroll-down">
          <span>
          <a href="#features">
            <i class="fas fa-chevron-down"></i> Scroll down for more information <i class="fas fa-chevron-down"></i>
          </a>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="section" id="features">
  <div class="container has-text-centered py-4">
    <h2 class="title mb-6">Some of our coolest features</h2>
    <div class="columns has-text-left mb-6">
      <div class="column is-4">
        <div class="columns">
          <div class="column is-2">
            <i class="image is-32x32 fas fa-address-card"></i>
          </div>
          <div class="column is-10">
            <h4 class="title is-spaced is-4">PP for Relax and Autopilot</h4>
            <p class="subtitle is-6">Our server has unique pp formula for relax and autopilot.
              Good at waving your cursor or just smashing your keyboard? Join {{ appName() }} and get a fair reward for
              your skills! Note: You are not allowed to use any kinda of relax hack for autopilot.
            </p>
          </div>
        </div>
      </div>
      <div class="column is-4">
        <div class="columns">
          <div class="column is-2">
            <i class="image is-32x32 fas fa-ambulance"></i>
          </div>
          <div class="column is-10">
            <h4 class="title is-spaced is-4">Free osu!direct</h4>
            <p class="subtitle is-6">You won't have to pay for osu!supporter to have a convenient gameplay experience in
              the
              client - osu!direct is available for everyone! Keep in mind supporting us still grants a huge set of cool
              perks but
              absence of it doesn't affect your game sessions!</p>
          </div>
        </div>
      </div>
      <div class="column is-4">
        <div class="columns">
          <div class="column is-2">
            <i class="image is-32x32 fas fa-archive"></i>
          </div>
          <div class="column is-10">
            <h4 class="title is-spaced is-4">Custom Client</h4>
            <p class="subtitle is-6">We have a Custom osu! Client that is available for download in the clients section of our docs. 
              Being made with our server in mind, it has limits set according to our rules and reports cheat data to our server to be displayed on your profile. 
              This client is also made with other servers in mind as features are enabled by the server so there is little to no chance of our client being used to harm other servers or players.
              Our client has many features not seen in the official or other custom clients while maintaining better performance. <a href="/docs/Clients?page=Kawata">Click here to learn more!</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container has-text-centered py-4">
    <h2 class="title mb-6">Newly Ranked</h2>
    <div class="ranked-block">
      {% for map in rankedmaps %}
      <div class="map">
        <div class="map-info" style="background-image: url(https://assets.ppy.sh/beatmaps/{{ map.set_id }}/covers/card@2x.jpg); position: relative;">
          <div class="map-info-overlay" style="background: linear-gradient(to bottom, hsla(var(--main), 20%, 20%, 0.4), hsla(var(--main), 20%, 10%, 0.7)); height: 100%; width: 100%; position: absolute; z-index: 0;"></div>
          <div class="beatmap-info" style="z-index: 1; position: relative;">
            <div class="map-title">{{ map.title }}</div>
            <div class="map-artist">{{ map.artist }}</div>
          </div>
          <div class="map-diffs" style="z-index: 1; position: relative;">
            {% for diff in map.diffs %}
              <div class="diff-info" data-title="Version: {{ diff.version }}&#10;Status: {% if diff.status == 2 %}Ranked{% elif diff.status == 3 %}Approved{% elif diff.status == 4 %}Qualified{% elif diff.status == 5 %}Loved{% else %}Pending{% endif %}&#10;CS: {{ diff.cs }}&#10;OD: {{ diff.od }}&#10;HP: {{ diff.hp }}&#10;AR: {{ diff.ar }}&#10;BPM: {{ diff.bpm }}&#10;Stars: {{ diff.diff }}">
                <img src="/static/images/icons/mode-osu.png" class="diff-icon">
              </div>
            {% endfor %}
          </div>
        </div>
        <div class="mod-info">
          <div>
            Ranked by:</br>
            <a href="/u/{{ map.get('mod', {}).get('id', '1') }}">{{ map.get('mod', {}).get('name', 'Melodies') }}</a>
          </div>
          <img src="https://a.{{domain()}}/{{ map.get('mod', {}).get('id', '1') }}" class="mod-icon">
          </div>
      </div>
      {% endfor %}
  </div>
</section>

<section class="section">
  <div class="container has-text-centered py-4">
    <h2 class="title mb-6"><a href="/changelog">Changelog</a></h2>
    <div class="changelog-block">
      {% for changelog in changelogs %}
      <div class="changelog {{ changelog.category }}">
        <a class="changelog-author" href="/u/{{ changelog.poster.id }}">
          <img class="changelog-author-avatar" src="https://a.{{domain()}}/{{ changelog.poster.id }}">
          <div class="changelog-author-name">{{ changelog.poster.name }}</div>
        </a>
        <div class="change-block">
          <div class="changelog-header">
            {% if changelog.type == 0 %}
            <div class="changelog-title">Frontend - {{ changelog.category }}</div>
            {% elif changelog.type == 1 %}
            <div class="changelog-title">Backend - {{ changelog.category }}</div>
            {% elif changelog.type == 2 %}
            <div class="changelog-title">Client - {{ changelog.category }}</div>
            {% endif %}
            <div class="changelog-date">{{ changelog.time }}</div>
          </div>
          <div class="changelog-body">
            {{ changelog.content }}
          </div>
        </div>
        
      </div>
      {% endfor %}
    </div>
  </div>
</section>

{% if not session.authenticated %}
<section class="hero splash">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title is-spaced">What are you waiting for?</h1>
      <h2 class="subtitle">Join {{ appName() }}! It's risk-free! You won't get your account banned on official servers
        if you play here with us! And don't worry, as you can always switch between the official servers and us at any time!</h2>
      <div class="buttons is-centered"><a class="control button is-primary" href="/register">Sign up for free</a><a
          class="control button is-light" href="/login">Login</a></div>
    </div>
  </div>
</section>
{% endif %}
<script src="/static/js/pages/home.js"></script>
{% endblock %}
