<nav id="navbar" class="navbar is-primary">
    <div class="navbar-brand">
        <a class="navbar-item navbar-logo" href="/home">
            {{ appName() }}
        </a>

        <a role="button" class="navbar-burger" id="navbar-burger" onclick="togglenavbar()">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbar" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="/home">
                Home
            </a>

            <a class="navbar-item" href="/leaderboard">
                Leaderboards
            </a>

            <!--<div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    Information
                </a>
                <div class="navbar-dropdown">
                    <a class="navbar-item" href="/doc/rules">
                        Rules
                    </a>
                    <a class="navbar-item" href="/discord">
                        Discord
                    </a>
                    <hr class="navbar-divider">
                    <a class="navbar-item" href="https://github.com/varkaria/guweb/issues/new">
                        Report an issue
                    </a>
                </div>
            </div>-->

            <a id="docs" class="navbar-item" @click="showDocsPanel('Rules')">
                Docs
            </a>
            <div class="navbar-item has-dropdown is-hoverable">
                <a id="beatmap" class="navbar-link">
                    Beatmaps
                </a>
                <div class="navbar-dropdown">
                    <a class="navbar-item disabled" href="/beatmaps">
                        Beatmaps
                    </a>
                    <a class="navbar-item disabled" href="/beatmaprequests">
                        Beatmap Requests
                    </a>
                </div>
            </div>
            {% if session.authenticated and session.user_data['is_dev'] %}
                <a class="navbar-item" href="/admin/stuffbroke">
                    Stuff Broke
                </a>
            {% endif %}
            {% if session.authenticated and session.user_data['is_staff'] %}
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    Admin
                </a>
                <div class="navbar-dropdown">
                    <a class="navbar-item" href="/admin">
                        Dash
                    </a>
                    <a class="navbar-item" href="/admin/users/1">
                        Users
                    </a>
                    <a class="navbar-item" href="/admin/beatmaps">
                        Beatmap Requests
                    </a>
                    <a class="navbar-item" href="/admin/badges">
                        Badges
                    </a>
                </div>
            </div>
            {% endif %}
        </div>

        <div class="navbar-end">
            <div id="search-icon" @click="searchBus.$emit('show-search-window');" @mouseover="startAnimation" @mouseleave="stopAnimation" class="navbar-item search-button" style="
                position: relative;
            ">
                <div class="navbar-item search-circle" :class="{ 'animate': isAnimating }"></div>
                <i class="fas fa-search"></i>
            </div>
            {% if session.authenticated %}
            
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    {{ session.user_data['name'] }}
                </a>
                <div id="userDropdown" class="navbar-dropdown navbar-user-dropdown">
                    <div class="user-card-block">
                        <a class="user-card" href="/u/{{ session.user_data['id'] }}" style="background-image: url(/banners/{{ session.user_data['id'] }});">
                            <div class="user-card-avatar" style="background-image: url(https://a.{{domain()}}/{{ session.user_data['id'] }});"></div>
                            <div class="user-card-info">
                                <span class="user-card-name">{{ session.user_data['name'] }}</span>
                                <div class="user-card-badges">
                                    {% if session.user_data.get('badges') %}
                                        {% for badge in session.user_data['badges'][:8] %}
                                            <div class="user-card-badge">
                                                <i class="{{ badge.styles.icon }}" style="color: hsl({{ badge.styles.color }}, 100%, 50%)" id="usercardbadge" data-title="{{ badge.name }}"></i>
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <span class="user-card-data_angle">
                                    <i class="fas fa-angle-right"></i>
                                </span>
                            </div>
                        </a>
                    </div>
                    <a class="navbar-item" href="/settings">
                        Settings
                    </a>
                </div>
                <!--<div class="navbar-dropdown">
                    <a class="navbar-item" href="/u/{{ session.user_data['id'] }}">
                        Profile
                    </a>
                </div>-->
            </div>
            <div class="navbar-item">
                <a class="button is-light" href="/logout">
                    Logout
                </a>
            </div>
            {% else %}
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-primary" href="/register">
                        <strong>Sign up</strong>
                    </a>
                    <a class="button is-light" href="/login">
                        Log in
                    </a>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    </div>
</nav>
{% block content %}
<div id="search-window"></div>
<div id="docs-panel"></div>
<div id="beatmap-panel"></div>
{% endblock %}